/* .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  } */
  /* @import "material-icons/iconfont/material-icons.css"; */
  @import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
  .example-item {
    /* height: 9%; */
    /* height:9vh;  */
    /* height:50px; */
    height: 9vmin;
    margin: 2em;
  }
  .example-viewport {
    /* height:99%; */
    /* height:605px; */
    height:99vmin;
    width:20% ;
    border: 1px solid black;
    scrollbar-width: none;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* margin: 3rem;  */
    /* display:grid; */

  }
  
  /* .example-item-detail {
    height: 18px;
    overflow: scroll;
  } */
/*  */
  
  .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
 
  /*  */
  .example-alternate {
    background: rgba(127, 127, 127, 0.3);
  }
  .active-fragment{
      position: sticky;
  }
  .active-fragment{
    position: fixed;
    margin-left: 250px;
    z-index: 5;
    background-color: gold;
  }
  .scrollToRight{
    margin-left: 1500px;  
    position: fixed;
    z-index: 50;
    background-color: greenyellow;
  }
  .first-scroll{
    position: fixed;
    z-index: 50;
    background-color: greenyellow;
  }
  .first-scroll::marker{
   scrollbar-arrow-color: darkred;
   content: "{";
   color:rgb(2, 28, 14);
  }
  /* .first-scroll div h3::marker{ */
    /* scrollbar-arrow-color: darkred; */
    /* content: "{";
    color:dodgerblue; */
    /* cursor: pointer; */
   /* } */
   .first-scroll div h3:hover{
    /* scrollbar-arrow-color: darkred; */
    content: "{";
    color:rgb(0, 72, 255);
    cursor: pointer;
   }
   .first-scroll div h3:hover::marker{
    /* scrollbar-arrow-color: darkred; */
    content: "{";
    color:blue;
    cursor: pointer;

   }
   .first-scroll div h3:current::marker{
    /* scrollbar-arrow-color: darkred; */
    content: "{";
    color:rgb(219, 17, 17);
    cursor: pointer;
   }
   /*  */
   .link-scroll-active 
   ::marker{
    /* scrollbar-arrow-color: darkred; */
    content: "{";
    color:rgb(8, 95, 46);
    cursor: pointer;
   }
   /*  */
/* 
ul li::marker{
  color:green;
  background-color: khaki;
  font-weight: 900;
}
ul li:hover::marker{
  color:midnightblue;
  font-weight: 900;
} */

/* .activeIndex  h3 ::marker{
  color:rgb(219, 17, 17) !important ;
  background-color: rgb(140, 240, 170);
  font-weight: 900;
  display: list-item;
}
.activeIndex  h3:hover ::marker{
  color:slategray !important ;
  background-color: rgb(202, 240, 140);
  font-weight: 900;
  display: list-item;
} */
/* .mainContainer{
  overflow: auto;
  white-space:nowrap;
} */
  .mainContainer{
    /* height: calc(100vh); */
  /* overflow-x: scroll; */
  /* position: absolute; */
/* overflow: scroll;
overscroll-behavior-x:inherit; */
 overscroll-behavior: inherit; 
display:inline-flexbox;
overflow: auto;
font-family: Itim;
/* white-space: nowrap; */
  }

  .activeIndex{
    background-color: indigo;
    color:lightgoldenrodyellow;
    font-weight: 900;
  }
  .activeIndex::marker{
    background-color: rgb(221, 38, 13);
    color: rgb(255, 0, 76);
    font-weight: 900;
  }
  .activeIndex:hover::marker{
    background-color: rgb(221, 38, 13);
    color: rgba(43, 255, 0, 0.542);
    font-weight: 900;
    background-color: tan !important;
  }
  .activeIndex:hover{
    background-color: rgb(221, 38, 13);
    color: rgba(43, 255, 0, 0.542);
    font-weight: 900;
    background-color: tan !important;
  }
  /* .activeIndex::{
    background-color: rgb(221, 38, 13);
    color: yellow;
    font-weight: 900;
  } */
  
  /* .router-link-active
  {background-color: orange;
  color:green;} */
  /* .cdk-scroll-class{
    min-height: 100%;
  } */
  router-link-active{
      background-color: darkorange;
  }
/* h1::marker{
display: list-item;
content:"#";

} */
/* h1{ */
    /* counter-increment: h3; */
    /* display: list-item; */
    /* display: -moz-marker; */
  /* } */
  
  /* h1::marker {
    display: list-item;
    content: "*" ; */
    /* counter(h1) " "; */
    /* color: lightsalmon;
    font-weight: bold; */
    /* list-style:square */
  /* } */
  
  .headerMarker {
    /* counter-reset: h3; */
    /* line-height: 1.4;
    font-family: system-ui;*/
    margin: 3rem; 
  }
  h3{
    /* counter-increment: h3; */
    display: list-item;
  }
  
    h3::marker {
    display: list-item;
    content: "*" ;
    /* counter(h3) " "; */
    color: lightsalmon;
    font-weight: bold;
    /* list-style:square */
  }
  router-link-active{
    background: white;
    color:green;
    border:indigo solid 2px;
  }
  /* router-link-active ::marker{
    color:crimson;
  } */


  .hashItem{
    background-color: rgb(233, 220, 202);
  }


  /* making scroll bar always visible
  https://stackoverflow.com/questions/54664294/how-to-make-scrollbar-always-visible-in-angular-material */



::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  overflow: scroll;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
  /* -webkit-border-image: 2%; */
}
.example-viewport ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  overflow:scroll;
  /* display:-moz-box;   this is working */
  /* display: -moz-marker; */
  /* display:-webkit-inline-flex; */
  /* display:-moz-grid-group; */
  display:-moz-box;
  /* transform: translateZ(0);
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch; */
  /* flex-direction: row; */
  /* overflow: scroll; */
}
/* .example-viewport::-webkit-resizer{
  display: inline-flex;
  flex-direction: column;
  overflow: scroll;
} */

::ng-deep .cdk-virtual-scroll-content-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
}
